{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/index.js' %}" defer></script>
</head>
<body class="bg-gray-800 h-full">
    {% flash_messages messages=messages %}
    <div class="mx-auto max-w-screen-lg grid grid-cols-3 pt-6 ">

        <div>
            <input id="search" type="search" placeholder="{% translate "Search" %}" class="outline-none bg-gray-700 text-white py-3 px-4 rounded-full" data-controller="hotkey" data-hotkey="/">
        </div>

        <div class="flex justify-center">
            <details data-controller="details" data-action="toggle->details#update click@window->details#closeOnClickOutside turbo:before-cache@document->details#close keydown@window->details#closeOnEscape" class="pop-open">
                <summary data-controller="hotkey" data-hotkey="h" class="inline-block summary-reset text-center cursor-pointer">
                    <div class="inline-block text-md text-white px-4 py-3 rounded">{% translate "Hey" %}</div>
                </summary>
                <div data-details-content>
                    <div class="absolute bg-gradient-to-r from-purple-400 to-blue-400 rounded-xl shadow-xl w-96 h-96 left-1/2 transform -translate-x-1/2 p-6">
                        <input data-details-target="input" id="search" type="search" placeholder="{% translate "Type to go to a person, place, or label..." %}" class="outline-none bg-gray-700 text-white py-2 w-full px-4 rounded-full">
                        <ul class="mt-2">
                            <li><a href="{% url 'contact_list' %}" class="block p-2 hover:bg-purple-300 rounded">{% translate "Contacts" %}</a></li>
                            <li><a href="{% url 'clearance_list' %}" class="block p-2 hover:bg-purple-300 rounded">{% translate "Screener" %}</a></li>
                        </ul>
                    </div>
                </div>
            </details>
        </div>

        <div class="flex justify-end">
            <details data-controller="details" data-action="click@window->details#closeOnClickOutside turbo:before-cache@document->details#close keydown@window->details#closeOnEscape" class="relative pop-open">
                <summary data-controller="hotkey" data-hotkey="s" class="summary-reset p-2 focus:ring-2 focus:ring-purple-500 cursor-pointer text-white">
                    {% translate "Settings" %}
                </summary>
                <div data-details-content>
                    <turbo-frame id="settings-menu" class="absolute right-0" target="_top" src="{% url 'settings' %}"></turbo-frame>
                </div>
            </details>
        </div>
    </div>
    {% block body %}{% endblock %}

    {# Keyboard shortcuts #}
    <a data-controller="hotkey" data-hotkey="=" href="{% url 'clearance_list' %}" class="hidden">{% translate "Screener" %}</a>
</body>
</html>
